:root {
  --color-white: #f9fafa;
  --color-black: #141518;
  --color-blue: #1a9ff0;
  --color-darkBlue: #073d5d;
  --color-grey: #dee0e0;
  --color-darkGrey: #969696;
  --color-red: #cc473d;
  --color-green: #7aa300;
  --color-yellow: #fff6b0;
  --color-shadow: rgba(0, 0, 0, 0.2);
  --size-avatar: 38px;
}

/* html,
body {
  height: 100%;
}

html {
  display: table;
  margin: auto;
}

body {
  display: table-cell;
  vertical-align: middle;
} */

body {
  margin: 0;
  height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: var(--color-darkBlue); */
  background-image: url("./asset/background.jpg");
  /* background-position: center; */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.Designed_Button {
  color: white;
}

.Common_Button {
  box-shadow: 0px 1px 0px 0px #afafae;
  background: linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
  background-color: #eae0c2;
  border-radius: 15px;
  border: 0.5px solid #fcfcfb;
  display: inline-block;
  cursor: pointer;
  color: #505739;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 12px 16px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #ffffff;
}
.Common_Button:hover {
  background: linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
  background-color: #ccc2a6;
}
.Common_Button:active {
  position: relative;
  top: 1px;
}

.Welcome_Box {
  box-shadow: 10px 10px 10px 0px #131313;
  background-color: #5b5c5ec6;
  border-radius: 10px;
  padding-top: 20px;
  width: 600px;
  height: 140px;
}

.Welcome_Title {
  opacity: 1;
  font-size: 24px;
}

.Welcome_Link {
  display: flex;
  width: 100%;
  justify-content: center;
}

.Welcome_Upload,
.Welcome_Search {
  margin-top: 30px;
  width: 170px;
  background-color: black;
}

.Welcome_Upload {
  margin-right: 20px;
}

.input_Box {
  display: flex;
  margin-bottom: 10px;
}

.input_upload_Box {
  width: 200px;
  padding-left: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.form-input {
  margin-top: 5px;
  padding-left: 5px;
  outline: none;
  height: 30px;
}

.form-input-upload {
  margin-top: 5px;
  padding-left: 5px;
  outline: none;
  height: 30px;
}

.label_design {
  font-size: 13px;
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.first_input {
  margin-right: 20px;
}

.search_right,
.search_left {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}
.total_result_number {
  margin-bottom: 5px;
  font-size: 13px;
}

.Search_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 10px 0px #131313;
  background-color: #282829c6;
  border-radius: 10px;
  padding-top: 20px;
  width: 500px;
  height: 580px;
  position: relative;
}

.Search_Button {
  width: 200px;
  margin-top: 5px;
}

.result_box {
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
}
.search_result_left,
.search_result_right {
  width: 180px;
  height: 340px;
  background-color: gray;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.search_result_left {
  overflow-y: auto;
  margin-right: 20px;
}

.Search_To_Button {
  margin-top: 45px;
}

.search-form {
  align-items: center;
  width: 100%;
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
}

.upload-form {
  align-items: center;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Upload_Button {
}

.link_to {
  width: 150px;
  /* background-color: yellow; */
  color: var(--color-white);
}

.Upload_Box {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 10px 10px 10px 0px #131313;
  background-color: #282829c6;
  border-radius: 10px;
  padding-top: 20px;
  width: 300px;
  height: 220px;
  position: relative;
}

.Go_Main {
  color: white;
  cursor: pointer;
  position: absolute;
  font-size: 13px;
  top: 10px;
  right: 15px;
}
